* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2D073E;
    color: aqua;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anagrams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.entrada {
    margin-bottom: 20px;
    margin-right: 3rem;  
}

h1{
margin-right: 3rem;
}

input{
    background-color: #271F2B;
    border-color:aqua;
    color: aqua;
    border-radius: 2rem;
}
.entrada input,
button {
    margin-inline: 3rem;
    padding: 10px;
    background-color: #271F2B;
    border-radius: 50%;
    cursor: pointer;
    border-color:aqua;
    color: aqua;

}

.result span:first-child {
    font-size: 40px;
}

.result span:last-child {
    font-size: 20px;
}